body{
    font-family: Montserrat;
}

/* Title */
#title{
    background-color: #ff4c68;
    color: white;
}

.container-fluid{
    padding: 3% 15%;
}
/* Navbar */
.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold ;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: 300;
}

.title-heading{
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.download-buttons{
    margin: 5% 3% 5% 0%;
}

.title_image{
    transform: rotate(25deg);
    position: absolute;
    width: 20%;
    right:20%

}
/* Features */

#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
    
}

.feature-box{
    text-align: center;
    padding: 5%;
}

h3{
    font-weight: 700;
    font-size: 1.5rem;
}

p{
    color: gray;
}

.feature-icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.feature-icon:hover{
    color: #ff4c68;
}

/* Testimonial Section */

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.carousel-item{
    padding: 7% 15%;
}

h2{
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* Press Section */

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing */
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-colums{
    padding: 3% 2%;
}

/* CTA Section */
#cta{
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
}
.cta-heading{
    font-weight: 900;
    font-size: 3.3rem;
    line-height: 1.5;
}

/* Footer Section */
#footer{
    padding: 7% 15%;
    text-align: center;
}
.social-icons{
    margin: 20px 10px;
}

@media(max-width:1000px)
{
    #title{
        text-align: center;
    }
    .title_image{
        position: static;
        transform: rotate(0deg);
        width: 60%;
    }
}